*{
    margin: 0;
    padding: 0;
}

.body{
    min-height: 100vh;
    background-image: url(/bg.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

#board{
    background:linear-gradient(45deg,rgb(102, 218, 102),rgb(224, 224, 94));
    width: 92vmin;
    height: 92vmin;
    border: solid green 2px;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background-color: red;
}

.snake{
    background-color: purple;
}

.food{
    background-color: yellow ;
}