@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'New Tegomin', serif;}

.body{
    min-height: 100vh;
    background-image: url(/bg.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: row-reverse; */

}

#board{
    background:linear-gradient(45deg,rgb(102, 218, 102),rgb(224, 224, 94));
    width: 92vmin;
    height: 92vmin;
    border: solid green 2px;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head {
    background-color: red;
    border-radius: 10px;
    border: solid purple 0.5px;
    transform: scale(1.05);
}

.snake {
    background: linear-gradient(45deg, #83cf2b, #2ba72f);
    border-radius: 50%;
    box-shadow: 0pc 6px 15px grey;
}

.food {
    background: linear-gradient(45deg, purple,red);
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


#scoreBox{
   position: absolute;
   top: 9px;
   margin-left: 80%;
   font-size: 40px;

}
#hiscoreBox{
   position: absolute;
   top: 55px;
   margin-left: 73%;
   font-size: 40px;
   
}


.creator{
    top: 20px;
    margin-right: 73%;
    font-size: 40px;
    position: absolute;
}

